* {
    box-sizing: border-box;
}
/*thank you to w3schools

.width-1 { width:8.33% }
.width-2 { width:16.66% }
.width-3 { width:25% }
.width-4 { width:33.33% }
.width-5 { width:41.66% }
.width-6 { width:50% }
.width-7 { width:58.33% }
.width-8 { width:66.66% }
.width-9 { width:75% }
.width-10 { width:83.33% }
.width-11 { width:91.66% }
.width-12 { width:100% }

[class*="width-"] {
    float: left;
    padding: 15px;
}*/

body {
    margin: 0 0;
    padding: 0 0;
    font-family: "Calibri";
    height: 100%;
    user-select: none;
}

button {
    padding: 15px 24px;
}

#rod {
    position: absolute;
    bottom: 29px;
    right: 0px;
    visibility: hidden;
}

#leftSection {
    display: flexbox;
    flex-direction: column;
    width: calc(50vw - 288px);
    height: 100vh;
    border: 1px solid #aaaaaa;
}

#middleSection {
    display: flex;
    flex-flow: column;
    position: absolute;
    top: 0;
    left: calc(50vw - 288px);
    width: 576px;
    height: 100vh;
}

#rightSection {
    position: absolute;
    display: flexbox;
    flex-direction: column;
    right: 0;
    top: 0;
    width: calc(50vw - 288px);
    height: 100vh;
    border: 1px solid #aaa;
}

#fishInfo {
    height: 60%;
    border-bottom: 1px solid #aaaaaa;
    padding-left: 12px;
    overflow: auto;
    background-color: white;
}

#fishListWrapper {
    display: flex;
    position: relative;
    bottom: 16px;
}

#addFish {
    color: #11aa66;
    list-style-type: "+  ";
}

#toolInfo {
    padding-left: 12px;
    height: 40%;
    overflow: auto;
    background-color: white;
}

#fishing {
    flex: 0 1 1080px;
    max-height: 100vh;
    background-image: url("assets/newLake.png");
}

#midMenu {
    flex: 0 1 auto;
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding: 9px;
    border-top: 1px solid #aaa;
}

#store {
    height: 70%;
    border-bottom: 1px solid #aaaaaa;
    overflow: auto;
    background-color: white;
}

#store h1 {
    margin-left: 12px;
}

#storeTabs {
    width: 100%;
    display: flex;
}

#storeTabs div {
    width: 50%;
    border: 1px solid #aaa;
    border-bottom: none;
    margin-right: 10px;
    padding: 6px;
}

#storeContent {
    border-top: 1px solid #aaa;
    width: 100%;
}

#spears {
    cursor: pointer;
}

#rods {
    cursor: pointer;
}

#research {
    padding-left: 12px;
    height: 30%;
    overflow: auto;
    background-color: white;
}

.buyButton {
    display: flex;
    width: 80%;
    padding: 6px;
    margin: auto;
    margin-top: 12px;
    justify-content: space-between;
    border: 1px solid #aaa;
    cursor: pointer;
}

#resResult {
    position: absolute;
    top: 75%;
    right: -10%;
    padding: 0 24px 16px;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: white;
}

#saveBox {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 0 8px;
    background-color: white;
}

#settings {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

#settingsBox {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 24px 16px;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: white;
    user-select: none;
}

#settingsBox button {
    padding: 5px 8px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.danger {
    color: #dd201a;
    border: 2px solid #dd201a;
    border-radius: 4px;
}

.danger:hover {
    background-color: #ffd8d2;
    color: #b11a15;
    border-color: #b11a15;
}

#wipeWarning {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 16px;
    padding-top: 0;
    background-color: white;
}

#wipeWarning button {
    padding: 5px 8px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

@media screen and (max-width:992px) {
    #leftSection {
        width: 30vw;
    }
    #middleSection {
        left: 30vw;
        width: 40vw;
    }
    #rightSection {
        right: 0;
        width: 30vw;
    }
}

@media screen and (max-width:576px) {
    #leftSection {
        height: 30vh;
        width: 100vw;
    }
    #middleSection {
        height: 40vh;
        width: 100vw;
        left: 0;
        top: 30vh;
    }
    #rightSection {
        height: 30vh;
        width: 100vw;
        top: 70vh;
        left: 0;
    }
}