body {
    margin: 0 0;
    padding: 0 0;
    font-family: "Calibri";
    height: 100%;
}

button {
    padding: 15px 24px;
}

.hd {
    visibility: hidden;
}

.invis {
    font-size: 0;
}

.pond {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rod {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-20%, -100%);
    visibility: hidden;
}

.leftBar {
    display: flexbox;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
}

.fishInfo {
    height: 66%;
    border-bottom: 1px solid #aaaaaa;
    padding-left: 12px;
}

.toolInfo {
    padding-left: 12px;
}

.rightBar {
    position: absolute;
    display: flexbox;
    flex-direction: column;
    right: 0;
    top: 0;
    width: 30vw;
    height: 100vh;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

.store {
    height: 66%;
    border-bottom: 1px solid #aaaaaa;
    padding-left: 12px;
}

#research {
    padding-left: 12px;
}

.buyCentre {
    display: flex;
    width: 80%;
    padding: 6px;
    margin: auto;
    justify-content: space-between;
    border: 1px solid #aaa;
    cursor: pointer;
}

.fishList {
    display: flex;
    position: relative;
    bottom: 16px;
}

.newFish {
    color: #11aa66;
    list-style-type: "+  ";
}

.saveBox {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 0 8px;
    background-color: white;
}