body {
    margin: 0 0;
    padding: 0 0;
    font-family: "Calibri";
    height: 100%;
}

button {
    padding: 15px 24px;
}

.hd {
    visibility: hidden;
}

.invis {
    font-size: 0;
}

.pond {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.rod {
    position: absolute;
    top: 120px;
    left: 216px;
    visibility: hidden;
}

.leftBar {
    display: flexbox;
    flex-direction: column;
    width: 30vw;
    height: 100vh;
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
}

.fishInfo {
    height: 66%;
    border-bottom: 1px solid #aaaaaa;
    padding-left: 12px;
}

.toolInfo {
    padding-left: 12px;
}

.rightBar {
    position: absolute;
    display: flexbox;
    flex-direction: column;
    right: 0;
    top: 0;
    width: 30vw;
    height: 100vh;
    border: 1px solid #aaa;
    box-sizing: border-box;
}

.store {
    height: 66%;
    border-bottom: 1px solid #aaaaaa;
}
.store h1 {
    margin-left: 12px;
}

#research {
    padding-left: 12px;
}

.buyButton {
    display: flex;
    width: 80%;
    padding: 6px;
    margin: auto;
    margin-top: 12px;
    justify-content: space-between;
    border: 1px solid #aaa;
    cursor: pointer;
}

.fishList {
    display: flex;
    position: relative;
    bottom: 16px;
}

#addFish {
    color: #11aa66;
    list-style-type: "+  ";
}

.saveBox {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    padding: 0 8px;
    background-color: white;
}

.storeTabs {
    width: 100%;
    display: flex;
}

.storeTabs div {
    width: 50%;
    border: 1px solid #aaa;
    border-bottom: none;
    margin-right: 10px;
    padding: 6px;
}

#storeContent {
    border-top: 1px solid #aaa;
    width: 100%;
}

#spears {
    cursor: pointer;
}

#rods {
    cursor: pointer;
}

.settings {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.settingsBox {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 24px 16px;
    width: 200px;
    height: 200px;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: white;
    user-select: none;
}

.settingsBox button {
    padding: 5px 8px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.danger {
    color: #dd201a;
    border: 2px solid #dd201a;
    border-radius: 4px;
}

.danger:hover {
    background-color: #ffd8d2;
}

.middle {
    position: absolute;
    top: 0;
    left: 30vw;
    width: 40vw;
    height: 100vh;
}

.resResult {
    position: absolute;
    top: 75%;
    right: -10%;
    padding: 0 24px 16px;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background-color: white;
}